* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #0d69a3), url(./immagini/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navbar {
    width: auto;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #0d69a3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}


.logo {
    position: absolute;
    width: 200px;
    cursor: pointer;
    margin-left: 30px;
    
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 110px;
}
.banner-text p{
    font-size: 18px;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffffff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.7s;
}

span {
    background: #ffffff;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}
button:hover{
    border:none;
    z-index: 6;
}
button:hover{
    color: black;
}